{{!-- stylesheets --}}
<style>
    .checked {
        color: orange;
    }

    .fa-star {
        font-size: 3em;
    }
</style>
{{!-- Filepond CSS --}}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet" />
{{!-- My styles --}}
<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style2.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style3.css" rel="stylesheet" type="text/css">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
{{!-- Font awesome --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Main CSS-->
<link href="/stylesheets/add-post.css" rel="stylesheet">


<div data-collapse="medium" data-animation="over-right" data-duration="400" data-no-scroll="1" data-doc-height="1"
    class="navbar w-nav">
    <div class="container w-container"><a href="/admin" aria-current="page"
            class="logo-link-block align-left w-nav-brand w--current">
            <!--<img src="images/Logo-3.svg" alt="" class="logo small">-->
            <h1 style="padding-top: .5em;" class="brand"><span class="fname">Thrifty</span> Wheels</h1>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu"><a href="/admin" aria-current="page"
                class="nav-link w-nav-link w--current">Home</a><a href="/about" class="nav-link w-nav-link">About</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
</div>
<div style="padding-top: 2em;background-color: #081b27;" class="page-wrapper p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Edit existing post..!</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/admin/edit-post" id="edit-form" enctype="multipart/form-data"
                    autocomplete="off">
                    <div class="form-row">
                        <div class="name">Main title</div>
                        <div class="value">
                            <input class="input--style-6" placeholder="Main title" type="text" name="mainTitle"
                                maxlength="14" value="{{post.mainTitle}}" required>
                            <div class="label--desc">Maximum 14 letters !</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Vehicle fullname</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" placeholder="Vehicle fullname"
                                    name="vehicleName" maxlength="25" value="{{post.vehicleName}}" required>
                                <div class="label--desc">Maximum 25 letters !</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Discription</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea class="textarea--style-6" name="postDiscription"
                                    placeholder="Discription here" maxlength="1400">{{post.postDiscription}}</textarea>
                                <div class="label--desc">Maximum 1400 letters !</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Background image</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <img src="data:{{post.postImg.type}};base64,{{post.postImg.data}}"
                                    style="padding-bottom: 1em;width: 80vw;height: auto;" id="imgPreview" alt="Preview">
                                <input class="input-file" type="file" name="postImg" accept="image/jpeg" id="file">
                            </div>
                            <div class="label--desc">Upload your vehicle photo. Image must have HD quality. Max file
                                size is 300 KB</div>
                        </div>
                    </div>
                    <input type="text" id="post-date" name="postDate" hidden>
                    <input type="text" value="{{post.postId}}" name="postId" hidden>
                    <div class="form-row">
                        <div class="name">Rating for this post</div>
                        <div class="value">
                            <div style="padding-top: .8em;" class="input-group">
                                <input type="text" id="ratingInput" name="starRating" hidden>
                                <span id="1star" onclick="ratingStar(this.id);" class="fa fa-star fa-2x"></span>
                                <span id="2star" onclick="ratingStar(this.id);" class="fa fa-star fa-2x"></span>
                                <span id="3star" onclick="ratingStar(this.id);" class="fa fa-star fa-2x"></span>
                                <span id="4star" onclick="ratingStar(this.id);" class="fa fa-star fa-2x"></span>
                                <span id="5star" onclick="ratingStar(this.id);" class="fa fa-star fa-2x"></span>
                            </div>
                            <div class="label--desc">Remember, You can only change this post rating at this moment!
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2" id="submitForm" type="submit">Update post..!</button>
            </div>
            </form>
        </div>
    </div>
</div>



<script src="/js/javascript.js" type="text/javascript"></script>
<script src="/js/add-post.js" type="text/javascript"></script>
<script>
    window.onload = () => {
        ratingStar('{{post.starRating}}');
        $('#post-date').val(moment().format('LLLL'));
    }
</script>
<script>
    function ratingStar(rate) {
        let star = parseInt(rate.charAt(0));
        for (let i = star; i > 0; i--) {
            $(`#${i}star`).addClass("checked");
        }
        for (let j = star + 1; j <= 5; j++) {
            $(`#${j}star`).removeClass("checked");
        }
        document.getElementById('ratingInput').value = `${star}star`;
    }
    function checkInputFile() {
        if (document.getElementById("file").files.length == 0) {
            alert("Please update the image file or reupload the existing image");
        }
    }
</script>
{{!-- Filepond cdn --}}
<script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>
<style>
    .filepond--credits {
        display: none;
    }
</style>
<script>
    // FilePond Area
    FilePond.registerPlugin(FilePondPluginImagePreview);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    FilePond.registerPlugin(FilePondPluginFileEncode);
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    FilePond.create(document.querySelector('input[type="file"]'), {
        allowImagePreview: true,
        acceptedFileTypes: ['image/jpg', 'image/jpeg'],
        fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
            // Do custom type detection here and return with promise
            resolve(type);
        }),
        maxFileSize: "300KB"
    })
</script>
<script>
    FilePond.find(document.querySelector("#file")).onaddfilestart = () => {
        $("#imgPreview").fadeOut();
    }
    FilePond.find(document.querySelector("#file")).onremovefile = () => {
        $("#imgPreview").fadeIn();
    }
</script>