{{!-- stylesheets --}}
<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style2.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style3.css" rel="stylesheet" type="text/css">


<div class="navbar-wrapper-fixed">
    <div data-collapse="medium" data-animation="over-right" data-duration="400" data-no-scroll="1" data-doc-height="1"
        class="navbar w-nav">
        <div class="container w-container"><a href="/" class="logo-link-block align-left w-nav-brand">
                <h1 class="brand poppins"><span class="fname poppins">Thrifty</span> Wheels</h1>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/"
                    class="nav-link w-nav-link poppins">Home</a><a href="/about"
                    class="nav-link w-nav-link poppins">About</a></nav>
            <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
</div>
<div class="dynamic-page-header" style="background-image: url('/images/photo-8.jpg') !important;">
    <div data-w-id="fb504413-d5b4-3ca2-7c6c-2e8872f7d460" class="dynamic-header-overlay">
        <div class="container w-container">
            <div class="header-content-block">
                <div style="background-image: url('/images/TW.jpg') !important;-webkit-transform:translate3d(-20PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-20PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-20PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-20PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                    class="header-thumbnail-image">
                    <!--<div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(60DEG) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(60DEG) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(60DEG) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(60DEG) skew(0, 0);opacity:0" class="review-circle">
              <div class="review-circle-title"></div>
            </div>-->
                </div>
                <h1 class="header-title poppins">Thrifty Wheels</h1>
                <div class="info-wrapper on-review-page">
                    <!-- <div class="info-block mobile-full"><img src="" alt="" class="info-block-icon stars-large"></div>
            <div class="info-block"><img src="images/tag.svg" alt="" class="info-block-icon"><a href="#" class="info-title-link"></a></div>
            <div class="info-block"><img src="images/clock.svg" alt="" class="info-block-icon">
              <div class="info-title"></div>
            </div>-->
                </div>
                <p class="header-short-description poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <!-- <div class="header-info-block">
            <div class="header-info-item">
              <div class="header-info-title bold">Duration:</div>
              <div class="header-info-title"></div>
            </div>
            <div class="header-info-item">
              <div class="header-info-title bold">Director:</div>
              <div class="header-info-title"></div>
            </div>
          </div>-->
            </div>
        </div>
    </div>
</div>
<div class="section review-section">
    <div class="container w-container">
        <div id="review" class="review-wrapper">
            <div class="rtb w-richtext"></div>
            <div class="trailer-video-block">
                <div class="trailer-title poppins">About Us</div>
                <div class="review-video w-video w-embed">
                    <p class="poppins" style="line-height: 2;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Laoreet non curabitur gravida arcu ac
                        tortor. At quis risus sed vulputate odio ut enim blandit volutpat. Nunc lobortis mattis aliquam
                        faucibus purus in massa. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Ac tortor
                        dignissim convallis aenean et tortor at risus viverra. Et egestas quis ipsum suspendisse
                        ultrices gravida dictum fusce. Mollis nunc sed id semper risus in. Nec ullamcorper sit amet
                        risus nullam eget felis eget. Elit eget gravida cum sociis natoque. At imperdiet dui accumsan
                        sit amet nulla facilisi. Volutpat consequat mauris nunc congue. Vitae semper quis lectus nulla
                        at volutpat diam ut. Euismod quis viverra nibh cras pulvinar mattis. At tempor commodo
                        ullamcorper a lacus vestibulum sed arcu. Semper viverra nam libero justo. Nibh cras pulvinar
                        mattis nunc sed blandit libero volutpat. Vel turpis nunc eget lorem dolor. Consectetur a erat
                        nam at lectus urna duis convallis convallis. Mauris pellentesque pulvinar pellentesque habitant
                        morbi tristique senectus.

                        Diam ut venenatis tellus in metus vulputate eu scelerisque. Purus semper eget duis at tellus at
                        urna. Placerat in egestas erat imperdiet sed euismod nisi porta. Purus faucibus ornare
                        suspendisse sed nisi. Urna et pharetra pharetra massa. Urna condimentum mattis pellentesque id
                        nibh. Facilisi nullam vehicula ipsum a arcu cursus vitae. Facilisis volutpat est velit egestas
                        dui id. Justo eget magna fermentum iaculis. Ac odio tempor orci dapibus ultrices in. Eu nisl
                        nunc mi ipsum faucibus vitae. Sed elementum tempus egestas sed. Massa enim nec dui nunc mattis
                        enim. Nisi vitae suscipit tellus mauris a diam maecenas sed. Bibendum at varius vel pharetra
                        vel. Est ultricies integer quis auctor. Consectetur a erat nam at lectus. Nunc vel risus commodo
                        viverra maecenas. Non consectetur a erat nam at lectus urna.

                        Tristique nulla aliquet enim tortor at auctor. Maecenas ultricies mi eget mauris. Sapien eget mi
                        proin sed libero enim sed faucibus turpis. Malesuada fames ac turpis egestas integer. Ornare
                        aenean euismod elementum nisi quis. A lacus vestibulum sed arcu. Quis imperdiet massa tincidunt
                        nunc pulvinar sapien et ligula ullamcorper. At tempor commodo ullamcorper a lacus vestibulum.
                        Vitae suscipit tellus mauris a. Velit ut tortor pretium viverra. Eu feugiat pretium nibh ipsum.
                        Dignissim suspendisse in est ante in nibh mauris cursus. Erat imperdiet sed euismod nisi porta
                        lorem mollis aliquam ut. Tortor at risus viverra adipiscing at in. Sit amet massa vitae tortor
                        condimentum lacinia. Nulla aliquet enim tortor at auctor urna nunc id.

                        Pretium viverra suspendisse potenti nullam ac tortor vitae. Scelerisque viverra mauris in
                        aliquam sem. Et pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Justo eget
                        magna fermentum iaculis. At tellus at urna condimentum mattis pellentesque id nibh. Ipsum dolor
                        sit amet consectetur adipiscing elit duis tristique sollicitudin. Consectetur adipiscing elit
                        pellentesque habitant morbi tristique. Consectetur a erat nam at lectus. Dictumst quisque
                        sagittis purus sit amet volutpat consequat mauris nunc. Ornare lectus sit amet est placerat in.
                        At lectus urna duis convallis. Euismod quis viverra nibh cras pulvinar mattis nunc. Consectetur
                        libero id faucibus nisl tincidunt eget nullam non. Nullam non nisi est sit amet facilisis magna
                        etiam. Ornare arcu odio ut sem nulla pharetra diam sit amet. Varius sit amet mattis vulputate.
                        Porttitor lacus luctus accumsan tortor posuere ac ut consequat. Tincidunt id aliquet risus
                        feugiat. Interdum velit euismod in pellentesque massa placerat duis ultricies lacus.

                        Eleifend donec pretium vulputate sapien nec. Convallis aenean et tortor at risus viverra
                        adipiscing. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Lectus mauris
                        ultrices eros in cursus turpis massa. Sed pulvinar proin gravida hendrerit. Odio facilisis
                        mauris sit amet massa vitae tortor. Pulvinar elementum integer enim neque volutpat. Enim sed
                        faucibus turpis in eu. Lacus sed viverra tellus in hac. Posuere morbi leo urna molestie. Egestas
                        quis ipsum suspendisse ultrices gravida dictum. Egestas egestas fringilla phasellus faucibus
                        scelerisque eleifend donec pretium vulputate. Aliquet enim tortor at auctor urna nunc id cursus.

                        Nunc sed velit dignissim sodales ut eu sem. Suspendisse in est ante in. Ultrices dui sapien eget
                        mi proin sed libero enim sed. Maecenas sed enim ut sem viverra aliquet eget sit. Tortor at
                        auctor urna nunc id cursus metus. In est ante in nibh mauris cursus mattis. Vitae sapien
                        pellentesque habitant morbi tristique. Lorem ipsum dolor sit amet. Euismod lacinia at quis risus
                        sed vulputate odio ut enim. Sapien eget mi proin sed libero enim sed faucibus. Senectus et netus
                        et malesuada fames ac turpis egestas maecenas. Amet tellus cras adipiscing enim eu turpis
                        egestas pretium aenean. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Est
                        ultricies integer quis auctor elit. Scelerisque varius morbi enim nunc faucibus. Ipsum nunc
                        aliquet bibendum enim. Venenatis urna cursus eget nunc scelerisque viverra mauris. Consectetur
                        adipiscing elit ut aliquam purus. Amet volutpat consequat mauris nunc congue.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section with-gradient">
    <div class="container w-container">
        <div class="section-title-wrapper centered">
            <h1 class="section-title small poppins">Our Collections</h1>
        </div>
        <div class="item-list-wrapper w-dyn-list">
            <div class="item-list w-dyn-items w-row">
                {{#each randomPosts}}
                <div class="item w-dyn-item w-col w-col-3">
                    <div class="item-block">
                        <a style="background-image: url('data:{{this.postImg.type}};base64,{{this.postImg.data}}') !important;') !important;"
                            href="/view-post/{{this.postId}}" class="item-image-block poster-format w-inline-block">
                            <div class="item-number"></div>
                        </a><img src="" alt="" class="info-block-icon stars"><a href="/view-post/{{this.postId}}"
                            class="item-block-title"></a>
                        <!--<div class="info-wrapper small">
                <div class="info-block"><img src="images/tag.svg" alt="" class="info-block-icon small"><a href="#" class="info-title-link"></a></div>
              </div>-->
                    </div>
                </div>
                {{/each}}
            </div>
            <!--<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>-->
        </div>
        <!-- <div class="search-wrapper">
        <div class="search-title">Looking for something else? Search our reviews:</div>
        <form action="/search" class="search-form w-clearfix w-form"><input type="search" class="search-field w-input" maxlength="256" name="query" placeholder="Try &quot;The Lord of the Rings&quot;" id="search" required=""><input type="submit" value="." class="search-button w-button"></form>
      </div>-->
    </div>
</div>

<div class="section review-section">
    <div class="container w-container">
        <div id="personal" class="review-wrapper">
            <div class="rtb w-richtext"></div>
            <div class="trailer-video-block">
                <div class="trailer-title poppins">About Copyrights</div>
                <div class="review-video w-video w-embed">
                    <p class="poppins" style="line-height: 2;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Mauris rhoncus aenean vel elit. Tempor nec feugiat nisl pretium
                        fusce id velit ut tortor. Erat velit scelerisque in dictum non. Eu mi bibendum neque egestas
                        congue quisque. Feugiat in ante metus dictum at tempor commodo ullamcorper a. Viverra aliquet
                        eget sit amet tellus cras adipiscing enim. Faucibus vitae aliquet nec ullamcorper sit amet risus
                        nullam eget. Sem integer vitae justo eget magna fermentum iaculis eu. Lorem sed risus ultricies
                        tristique nulla aliquet. Nulla facilisi etiam dignissim diam quis enim.

                        Senectus et netus et malesuada fames. Diam sit amet nisl suscipit adipiscing bibendum est. Arcu
                        vitae elementum curabitur vitae nunc sed velit dignissim sodales. Facilisis leo vel fringilla
                        est ullamcorper eget nulla facilisi. Feugiat in fermentum posuere urna nec tincidunt praesent.
                        Mauris vitae ultricies leo integer. Varius duis at consectetur lorem donec massa sapien. Et
                        sollicitudin ac orci phasellus egestas tellus rutrum. Posuere ac ut consequat semper viverra nam
                        libero justo laoreet. Orci nulla pellentesque dignissim enim. Feugiat in fermentum posuere urna.
                        Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Varius morbi enim nunc faucibus
                        a. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Pharetra magna ac
                        placerat vestibulum lectus mauris ultrices eros in.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section with-gradient" style="padding-top: 0!important; ">
    <div class="container w-container">
        <div class="section-title-wrapper centered">
            <h1 class="section-title small"></h1>
        </div>
        <div class="item-list-wrapper w-dyn-list">
            <div class="item-list w-dyn-items w-row">
                {{#each threePosts}}
                <div class="item w-dyn-item w-col w-col-8" style="margin: auto">
                    <div class="item-block">
                        <a href="/view-post/{{this.postId}}" class="item-image-block poster-format w-inline-block"
                            style="width: 100% !important;background-image: url('data:{{this.postImg.type}};base64,{{this.postImg.data}}') !important;') !important;">
                            <div class="item-number"></div>
                        </a><img src="" alt="" class="info-block-icon stars"><a href="/view-post/{{this.postId}}"
                            class="item-block-title"></a>
                        <!--<div class="info-wrapper small">
                <div class="info-block"><img src="images/tag.svg" alt="" class="info-block-icon small"><a href="#" class="info-title-link"></a></div>
              </div>-->
                    </div>
                </div>
                {{/each}}
            </div>
            <!--<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>-->
        </div>
        <!-- <div class="search-wrapper">
         <div class="search-title">Looking for something else? Search our reviews:</div>
         <form action="/search" class="search-form w-clearfix w-form"><input type="search" class="search-field w-input" maxlength="256" name="query" placeholder="Try &quot;The Lord of the Rings&quot;" id="search" required=""><input type="submit" value="." class="search-button w-button"></form>
       </div>-->
    </div>
</div>
<div class="section footer">

    <div class="bottom-footer">
        <div class="container w-container">
            <div class="footer-row w-row">
                <!--<div class="footer-column w-col w-col-4">
            <div class="footer-title">Information</div><a href="template-info/licensing.html" class="footer-link">Image Licenses</a><a href="contact.html" class="footer-link">Contact us</a><a href="about-us.html" class="footer-link">Our Authors</a></div>
          <div class="footer-column w-col w-col-4">
            <div class="footer-title">Discover</div><a href="all-reviews.html" class="footer-link">All Reviews</a><a href="author-picks.html" class="footer-link">Author Picks</a><a href="new-reviews.html" class="footer-link">New Reviews</a></div>
         -->
                <div class="footer-column w-col w-col-12">
                    <div class="footer-title poppins">Social Connections</div>
                    <div class="social-media">
                        <a href="https://www.facebook.com/muhammed.rahif.583/" target="_blank" class="footer-social-link w-inline-block">
                            <div class="footer-social-title icon"></div>
                            <!--<div class="footer-social-title">Facebook</div>-->
                        </a>
                        <a href="https://github.com/Muhammed-Rahif" target="_blank" class="footer-social-link w-inline-block">
                            <div class="footer-social-title icon"></div>
                            <!-- <div class="footer-social-title">GitHub</div>-->
                        </a>
                        <a href="https://www.instagram.com/_.raifu.op_/" target="_blank" class="footer-social-link w-inline-block">
                            <div class="footer-social-title icon"></div>
                            <!--<div class="footer-social-title"></div>-->
                        </a>
                    </div>
                </div>
            </div>
            <div class="bottom-footer-paragraph poppins">Copyright © <a href="https://github.com/Muhammed-Rahif" target="_blank"
                    style="text-decoration: none;color: #8f9da7;" class="bottom-footer-link"
                    onMouseOver="this.style.color='#fff'" onMouseOut="this.style.color='#8f9da7'">Muhammed
                    Rahif</a><br></div>
            <div class="bottom-footer-paragraph poppins">Website developed by <a
                    href="https://github.com/Muhammed-Rahif" target="_blank" class="bottom-footer-link"
                    style="text-decoration: none;color: #8f9da7;" onMouseOver="this.style.color='#fff'"
                    onMouseOut="this.style.color='#8f9da7'">Muhammed
                    Rahif</a> </div>
            <div class="bottom-footer-paragraph"><a href="/"><img style="width: 15%" src="images/ThriftyWheels.png"
                        alt=""></a> </div>

            <!--<div class="bottom-footer-paragraph"><a href="template-info/licensing.html" class="bottom-footer-link">Image Licensing Info</a></div>-->
        </div>
    </div>
</div>
<script src="/js/javascript.js" type="text/javascript"></script>