{{!-- stylesheets --}}
<link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style2.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style3.css" rel="stylesheet" type="text/css">
{{!-- For rating stars --}}
<style>
    .checked {
        color: orange;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type='text/javascript'>
    function generateStarRating(postId, starRating) {
        starRating = parseInt(starRating.charAt(0));
        $(`#ratingOf${postId}`).empty();
        for (let i = 0; i >= starRating; i++) {
            $(`#ratingOf${postId}`).append(`<span class="fa fa-star checked"></span>`);
        }
        for (let j = 0; j >= 5 - starRating; j++) {
            $(`#ratingOf${postId}`).append(`<span class="fa fa-star"></span>`);
        }
    }
</script>

{{#if allPosts}}
<div class="top-logo-bar"><a href="/" aria-current="page" class="logo-link-block w-nav-brand w--current">
        <!--<img src="images/Logo-3.svg" alt="" class="logo">-->
        <h1 class="brand poppins"><span class="fname poppins">Thrifty</span> Wheels</h1>
    </a></div>
<div class="hero-section w-clearfix">
    <div class="hero-column">
        <div class="header-list-wrapper w-dyn-list">
            <div class="header-list w-dyn-items">
                <div class="header-item w-dyn-item">
                    <a href="/view-post/{{allPosts.0.postId}}" class="header-item-link-block w-inline-block">
                        <div class="header-item-overlay">
                            <div class="item-titles-wrapper">
                                <div class="highlight-item-content-block">
                                    <div class="large-rating-number"></div>
                                    <h1 class="large-item-title mobile-align-left">{{allPosts.0.mainTitle}}</h1>
                                    <div class="info-wrapper large poppins">
                                        <div class="info-block mobile-full"><img src="" alt=""
                                                class="info-block-icon stars">
                                            <img class="info-block-icon stars"
                                                src="/gallery/stars-png/{{allPosts.0.starRating}}.png" alt="">
                                        </div>
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title-link poppins">{{allPosts.0.vehicleName}}</div>
                                        </div>
                                        <div class="info-block"><img src="images/clock.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title">{{allPosts.0.postDate}}</div>
                                        </div>
                                    </div>
                                    <p class="highlight-paragraph poppins">{{allPosts.0.postDiscription}}
                                    </p>
                                    <!--<div class="button outline-button hide-mobile">Read More</div>-->
                                </div>
                                <div class="author-block bottom-right push-up w-clearfix">
                                    <!--<div class="author-image-block"></div>-->
                                    <div class="author-name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-image " data-background-image="image.jpg"
                            style="background-image: url(data:{{allPosts.0.postImg.type}};base64,{{allPosts.0.postImg.data}}) !important;">

                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>-->
        </div>
    </div>
    <div class="hero-column right-column">
        <div class="header-list-wrapper half w-dyn-list">
            <div class="header-list w-dyn-items">
                <div class="header-item half w-dyn-item">
                    <a data-w-id="021743dc-d730-0c7c-38ed-e8456ca0ff0b" href="/view-post/{{allPosts.1.postId}}"
                        class="header-item-link-block w-inline-block">
                        <div class="header-item-overlay">
                            <div class="item-titles-wrapper small">
                                <div class="highlight-item-content-block full">
                                    <div class="large-rating-number small"></div>
                                    <h1 class="large-item-title medium">{{allPosts.1.mainTitle}}</h1>
                                    <div class="info-wrapper large poppins">
                                        <div class="info-block mobile-full"><img src="" alt=""
                                                class="info-block-icon stars">
                                            <img class="info-block-icon stars"
                                                src="/gallery/stars-png/{{allPosts.1.starRating}}.png" alt="">
                                        </div>
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title-link">{{allPosts.1.vehicleName}}</div>
                                        </div>
                                        <div class="info-block"><img src="images/clock.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title">{{allPosts.1.postDate}}</div>
                                        </div>
                                    </div>
                                    <!--<div class="button outline-button hide-mobile">Read More</div>-->
                                </div>
                                <div class="author-block bottom-right push-up hide-on-mobile w-clearfix">
                                    <!-- <div class="author-image-block"></div>-->
                                    <div class="author-name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-image " data-background-image="image.jpg"
                            style="background-image: url(data:{{allPosts.1.postImg.type}};base64,{{allPosts.1.postImg.data}}) !important;">
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>-->
        </div>
        <div class="header-list-wrapper second-half w-dyn-list">
            <div class="header-list w-dyn-items w-row">
                <div class="header-item half w-dyn-item w-col w-col-6">
                    <a data-w-id="26a2180a-b98c-0db1-b3a3-f0a6fe4784da" href="/view-post/{{allPosts.2.postId}}"
                        class="header-item-link-block w-inline-block">
                        <div class="header-item-overlay">
                            <div class="item-titles-wrapper small">
                                <div class="highlight-item-content-block full poppins">
                                    <div class="large-rating-number small"></div>
                                    <h1 class="large-item-title medium mobile-small">{{allPosts.2.mainTitle}}</h1>
                                    <div class="info-wrapper large">
                                        <div class="info-block"><img
                                                src="/gallery/stars-png/{{allPosts.2.starRating}}.png" alt=""
                                                class="info-block-icon stars"></div>
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title-link">{{allPosts.2.vehicleName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-image " data-background-image="image.jpg"
                            style="background-image: url(data:{{allPosts.2.postImg.type}};base64,{{allPosts.2.postImg.data}}) !important;">
                        </div>
                    </a>
                </div>
                <div class="header-item half w-dyn-item w-col w-col-6">
                    <a data-w-id="26a2180a-b98c-0db1-b3a3-f0a6fe4784da" href="/view-post/{{allPosts.3.postId}}"
                        class="header-item-link-block w-inline-block">
                        <div class="header-item-overlay">
                            <div class="item-titles-wrapper small">
                                <div class="highlight-item-content-block full poppins">
                                    <div class="large-rating-number small"></div>
                                    <h1 class="large-item-title medium mobile-small">{{allPosts.3.mainTitle}}</h1>
                                    <div class="info-wrapper large">
                                        <div class="info-block"><img
                                                src="/gallery/stars-png/{{allPosts.3.starRating}}.png" alt=""
                                                class="info-block-icon stars"></div>
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title-link">{{allPosts.3.mainTitle}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-image " data-background-image="image.jpg"
                            style="background-image: url(data:{{allPosts.3.postImg.type}};base64,{{allPosts.3.postImg.data}}) !important;">
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>-->
        </div>
    </div>
</div>
{{/if}}
<div data-collapse="medium" data-animation="over-right" data-duration="400" data-no-scroll="1" data-doc-height="1"
    class="navbar w-nav">
    <div class="container w-container"><a href="/" aria-current="page"
            class="logo-link-block align-left w-nav-brand w--current">
            <!--<img src="images/Logo-3.svg" alt="" class="logo small">-->
            <h1 class="brand poppins"><span class="fname poppins">Thrifty</span> Wheels</h1>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" aria-current="page"
                class="nav-link w-nav-link w--current poppins">Home</a><a href="/about"
                class="nav-link w-nav-link">About</a>
        </nav>
        <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
</div>
{{#if allPosts}}
<div class="section">
    <div class="container w-container">
        <div class="section-title-wrapper align-left">
            <h1 class="section-title">Top Rating<br></h1>
            <div class="section-subtitle">Sorted by rating all posts</div>
        </div>
        <div data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
            <div class="tabs-menu w-tab-menu">
                <!--<a data-w-tab="Author Picks" class="tab-button w-inline-block w-tab-link w&#45;&#45;current">
            <div>Author Picks</div>
          </a>-->
                <!--<a data-w-tab="Featured" class="tab-button w-inline-block w-tab-link">
            <div>Featured</div>
          </a>
          <a data-w-tab="New" class="tab-button w-inline-block w-tab-link">
            <div>New</div>
          </a>-->
            </div>
            <div class="tabs-content w-tab-content">
                <div data-w-tab="Author Picks" class="tab-pane w-tab-pane w--tab-active">
                    <div class="item-list-wrapper w-dyn-list">
                        <div class="item-list w-dyn-items w-row">
                            <!-- All posts sorted by rating-->
                            {{#each allPosts}}
                            <div class="item w-dyn-item w-col w-col-3" id="{{this.postId}}">
                                <div class="item-block">
                                    <a href="/view-post/{{this.postId}}"
                                        class="item-image-block poster-format w-inline-block"
                                        data-background-image="image.jpg"
                                        style="background-image: url(data:{{this.postImg.type}};base64,{{this.postImg.data}}) !important;">
                                        <div class="item-number"></div>
                                        <div class="film-description">
                                            <p style="overflow: hidden;text-overflow: ellipsis;max-height: 16em;"
                                                class="poppins">{{this.postDiscription}}</p>
                                        </div>
                                    </a>
                                    <img style="width: 7em;height: auto;"
                                        src="/gallery/stars-png/{{this.starRating}}.png" alt="">
                                    <a href="/view-post/{{this.postId}}"
                                        class="item-block-title poppins">{{this.mainTitle}}</a>
                                    <div class="info-wrapper small">
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon small poppins">{{this.vehicleName}}<a
                                                href="/view-post/{{this.postId}}" class="info-title-link"></a></div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <!--<div class="w-dyn-empty">
                <div></div>
              </div>-->
                        </div>
                    </div>
                    <div data-w-tab="Featured" class="tab-pane w-tab-pane">
                        <div class="item-list-wrapper w-dyn-list">
                            <div class="item-list w-dyn-items w-row">
                                <div class="item w-dyn-item w-col w-col-3">
                                    <div class="item-block">
                                        <a href="#" class="item-image-block poster-format w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a href="#"
                                            class="item-block-title"></a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a href="#"
                                                    class="info-title-link"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="w-dyn-empty">
                <div>No items found.</div>
              </div>-->
                        </div>
                    </div>
                    <div data-w-tab="New" class="tab-pane w-tab-pane">
                        <div class="item-list-wrapper w-dyn-list">
                            <div class="item-list w-dyn-items w-row">
                                <div class="item w-dyn-item w-col w-col-3">
                                    <div class="item-block">
                                        <a href="#" class="item-image-block poster-format w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a href="#"
                                            class="item-block-title"></a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a href="#"
                                                    class="info-title-link"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--popular movies end-->
                            </div>
                            <!--<div class="w-dyn-empty">
                <div>No items found.</div>
              </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section highlighted-section">
        <div class="highlight-item-list-wrapper w-dyn-list">
            <div class="highlight-list w-dyn-items">
                <div class="highlight-item w-dyn-item">
                    <div style="background-image: url('data:{{randomPost.postImg.type}};base64,{{randomPost.postImg.data}}')"
                        class="highlight-item-block">
                        <div class="higlight-item-overlay">
                            <div class="container w-container">
                                <div class="highlight-item-content-block poppins">
                                    <div class="large-rating-number"></div>
                                    <h1 class="large-item-title">{{randomPost.mainTitle}}</h1>
                                    <div class="info-wrapper large">
                                        <!-- <div class="info-block"><img src="https://assets.website-files.com/59f5ae906a27c400013267f0/5c3d9ef28bb4597313e39aff_Stars-4.svg" alt="" class="info-block-icon stars"></div>-->
                                        <div class="info-block"><img src="images/tag.svg" alt=""
                                                class="info-block-icon"><a href="/view-post/{{randomPost.postId}}"
                                                class="info-title-link poppins">{{randomPost.vehicleName}}</a>
                                        </div>
                                        <div class="info-block"><img src="images/clock.svg" alt=""
                                                class="info-block-icon">
                                            <div class="info-title poppins">{{randomPost.postDate}}</div>
                                        </div>
                                    </div>
                                    <p class="highlight-paragraph poppins">{{randomPost.postDiscription}}</p>
                                    <!-- <a href="#" class="button outline-button white w-button">Read MOre</a></div>-->
                                    <div class="author-block bottom-right hide-mobile w-clearfix">
                                        <!-- <div class="author-image-block"></div>-->
                                        <div class="author-name"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="w-dyn-empty">
        <div>No items found.</div>
      </div>-->
            </div>
        </div>
        <div class="section">
            <div class="container push-up w-container">
                <div class="section-title-wrapper">
                    <h1 class="section-title large">Don't miss these!</h1>
                    <div class="section-subtitle">Be sure not to miss these vehicles</div>
                </div>
                <div class="row w-clearfix">
                    <div class="column right-column">
                        <div class="item-list-wrapper w-dyn-list">
                            <div class="item-list mobile-full-list w-dyn-items">
                                <div class="item w-dyn-item">
                                    <div class="item-block large">
                                        <a style="background-image: url('data:{{fivePosts.0.postImg.type}};base64,{{fivePosts.0.postImg.data}}') !important;"
                                            href="/view-post/{{fivePosts.0.postId}}"
                                            class="item-image-block large w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a
                                            href="/view-post/{{fivePosts.0.postId}}"
                                            class="item-block-title large poppins">{{fivePosts.0.mainTitle}}</a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a
                                                    href="/view-post/{{fivePosts.0.postId}}"
                                                    class="info-title-link poppins">{{fivePosts.0.vehicleName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item-list-wrapper w-dyn-list">
                            <div class="item-list mobile-full-list w-dyn-items w-row">
                                <div class="item small w-dyn-item w-col w-col-6">
                                    <div class="item-block in-list">
                                        <a style="background-image: url('data:{{fivePosts.1.postImg.type}};base64,{{fivePosts.1.postImg.data}}') !important;"
                                            href="/view-post/{{fivePosts.1.postId}}"
                                            class="item-image-block w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a
                                            href="/view-post/{{fivePosts.1.postId}}"
                                            class="item-block-title poppins">{{fivePosts.1.mainTitle}}</a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a
                                                    href="/view-post/{{fivePosts.1.postId}}"
                                                    class="info-title-link poppins">{{fivePosts.1.vehicleName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item small w-dyn-item w-col w-col-6">
                                    <div class="item-block in-list">
                                        <a style="background-image: url('data:{{fivePosts.2.postImg.type}};base64,{{fivePosts.2.postImg.data}}') !important;"
                                            href="/view-post/{{fivePosts.2.postId}}"
                                            class="item-image-block w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a
                                            href="/view-post/{{fivePosts.2.postId}}"
                                            class="item-block-title poppins">{{fivePosts.2.mainTitle}}</a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a
                                                    href="/view-post/{{fivePosts.2.postId}}"
                                                    class="info-title-link poppins">{{fivePosts.2.vehicleName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item small w-dyn-item w-col w-col-6">
                                    <div class="item-block in-list">
                                        <a style="background-image: url('data:{{fivePosts.3.postImg.type}};base64,{{fivePosts.3.postImg.data}}') !important;"
                                            href="/view-post/{{fivePosts.3.postId}}"
                                            class="item-image-block w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a
                                            href="/view-post/{{fivePosts.3.postId}}"
                                            class="item-block-title poppins">{{fivePosts.3.mainTitle}}</a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a
                                                    href="/view-post/{{fivePosts.3.postId}}"
                                                    class="info-title-link poppins">{{fivePosts.3.vehicleName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item small w-dyn-item w-col w-col-6">
                                    <div class="item-block in-list">
                                        <a style="background-image: url('data:{{fivePosts.4.postImg.type}};base64,{{fivePosts.4.postImg.data}}') !important;"
                                            href="/view-post/{{fivePosts.4.postId}}"
                                            class="item-image-block w-inline-block">
                                            <div class="item-number"></div>
                                        </a><img src="" alt="" class="info-block-icon stars"><a
                                            href="/view-post/{{fivePosts.4.postId}}"
                                            class="item-block-title poppins">{{fivePosts.4.mainTitle}}</a>
                                        <div class="info-wrapper small">
                                            <div class="info-block"><img src="images/tag.svg" alt=""
                                                    class="info-block-icon small"><a
                                                    href="/view-post/{{fivePosts.4.postId}}"
                                                    class="info-title-link poppins">{{fivePosts.4.vehicleName}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="w-dyn-empty">
              <div>No items found.</div>
            </div>-->
                        </div>
                    </div>
                </div>
                <!--<div class="search-wrapper">
        <div class="search-title">Looking for something else? Search our reviews:</div>
        <form action="/search" class="search-form w-clearfix w-form"><input type="search" class="search-field w-input" maxlength="256" name="query" placeholder="Try &quot;The Lord of the Rings&quot;" id="search" required=""><input type="submit" value="." class="search-button w-button"></form>
      </div>-->
            </div>
        </div>
        <div class="image-header awards-header">
            <div class="image-header-overlay">
                <div class="container w-container">
                    <div class="header-intro-block">
                        <h1 data-ix="fade-in-on-load" class="subpage-title">All</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container w-container">
                <div class="authors-list-wrapper w-dyn-list">
                    <div class="authors-list w-dyn-items w-row">
                        {{#each shufflePosts}}
                        <div class="author-item w-dyn-item w-col w-col-4">
                            <a href="/view-post/{{this.postId}}" class="author-item-block">
                                <div style="background-image: url('data:{{this.postImg.type}};base64,{{this.postImg.data}}') !important;"
                                    class="author-image-wrapper">
                                    <div class="author-title-overlay">
                                        <div class="author-item-name"></div>
                                    </div>
                                </div>
                                <div class="short-bio-wrapper">
                                    <p class="poppins">
                                        {{this.mainTitle}} ( {{this.vehicleName}} )
                                    </p>
                                    <!--<a href="#" class="button outline-button w-button">View my Reviews</a></div>-->
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div style="min-height: 20vh;min-width: 100vw;display: flex;align-items: center;justify-content: center;background-color: #081b27;" class="poppins">
            <h1 style="text-align: center;color: white;font-weight: bold;border-bottom: 1px black solid;">No posts</h1>
        </div>
        {{/if}}
        <div class="section footer">
            <!--<div class="container w-container">
      <div class="footer-wrapper">

      </div>
    </div>-->
            <div class="bottom-footer">
                <div class="container w-container">
                    <div class="footer-row w-row">
                        <!--<div class="footer-column w-col w-col-4">
            <div class="footer-title">Information</div><a href="template-info/licensing.html" class="footer-link">Image Licenses</a><a href="contact.html" class="footer-link">Contact us</a><a href="about-us.html" class="footer-link">Our Authors</a></div>
          <div class="footer-column w-col w-col-4">
            <div class="footer-title">Discover</div><a href="all-reviews.html" class="footer-link">All Reviews</a><a href="author-picks.html" class="footer-link">Author Picks</a><a href="new-reviews.html" class="footer-link">New Reviews</a></div>
          -->
                        <div class="footer-column w-col w-col-12">
                            <div class="footer-title poppins">Social Connections</div>
                            <div class="social-media">
                                <a href="https://www.facebook.com/muhammed.rahif.583/" target="_blank" class="footer-social-link w-inline-block">
                                    <div class="footer-social-title icon"></div>
                                    <!--<div class="footer-social-title">Facebook</div>-->
                                </a>
                                <a href="https://github.com/Muhammed-Rahif" target="_blank" class="footer-social-link w-inline-block">
                                    <div class="footer-social-title icon"></div>
                                    <!-- <div class="footer-social-title">GitHub</div>-->
                                </a>
                                <a href="https://www.instagram.com/Muhammed_Rahif_/" target="_blank" class="footer-social-link w-inline-block">
                                    <div class="footer-social-title icon"></div>
                                    <!--<div class="footer-social-title"></div>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer-paragraph poppins">Copyright © <a href="https://github.com/Muhammed-Rahif" target="_blank"
                            style="text-decoration: none;color: #8f9da7;" class="bottom-footer-link"
                            onMouseOver="this.style.color='#fff'" onMouseOut="this.style.color='#8f9da7'">Muhammed
                            Rahif</a><br></div>
                    <div class="bottom-footer-paragraph poppins">Website developed by <a href="https://github.com/Muhammed-Rahif" target="_blank"
                            class="bottom-footer-link" style="text-decoration: none;color: #8f9da7;"
                            onMouseOver="this.style.color='#fff'" onMouseOut="this.style.color='#8f9da7'">Muhammed
                            Rahif</a> </div>
                    <div class="bottom-footer-paragraph"><a href="/"><img style="width: 15%"
                                src="images/ThriftyWheels.png" alt=""></a> </div>
                </div>
            </div>
        </div>
        <script src="/js/javascript.js" type="text/javascript"></script>